<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form action="/prenota" method="get">
        <label>Nome:</label><input type="text" name="nome"><br/>
        <label>Codice Fiscale: </label><input type="text" name="cf"/><br/>
        <label>Volo: </label>
        <select name="volo">
            {% for volo in voli %}
            <option value="{{ volo.iata }}, {{ volo.num }}, {{ volo.ora }}">
                numero: {{volo.num}}, iata: {{volo.iata}}, volo.ora {{volo.ora}}
            </option>
            {% endfor %}
        </select><br/>
        <label>Business?</label>
        <input type="checkbox" name="business" value="True">
        <br/>
        <input type="submit"/>
        <input type="reset" value="Annulla"/>
    </form>
</body>
</html>